.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
/test/e2e/reports/
selenium-debug.log
_bin/
.npmrc
.env
.env.local


** Testing ignore***
Test/node_modules
Test/screenshots/*
Test/reports/*
